### **Dataset: GoEmotions**

*GoEmotions* is a corpus of 58k carefully curated comments extracted from Reddit, with human annotations to 27 emotion categories or Neutral.

Number of examples: 58,009.
Number of labels: 27 + Neutral.

The data has already been separated in train, test and validation sets 

Size of training dataset: 43,410.

Size of test dataset: 5,427.

Size of validation dataset: 5,426.

The emotion categories are: admiration, amusement, anger, annoyance, approval, caring, confusion, curiosity, desire, disappointment, disapproval, disgust, embarrassment, excitement, fear, gratitude, grief, joy, love, nervousness, optimism, pride, realization, relief, remorse, sadness, surprise.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importing libraries and importing data

In [ ]:
# Here we import everything we need for the project

%matplotlib inline
from google.colab import files
import os

# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import cv2
import pandas as pd

# Sklearn
from sklearn.model_selection import train_test_split # Helps with organizing data for training
from sklearn.metrics import confusion_matrix # Helps present results as a confusion-matrix

print(tf.__version__)

2.11.0

In [ ]:
# Importing raw comments and labels
df_train = pd.read_csv('/content/drive/MyDrive/GoEmotions_Git/data/train.tsv', sep='\t', header=None, names=['Text', 'GE_indices', 'Id']).drop('Id', axis=1)
df_val = pd.read_csv('/content/drive/MyDrive/GoEmotions_Git/data/dev.tsv', sep='\t', header=None, names=['Text', 'GE_indices', 'Id']).drop('Id', axis=1)
df_test = pd.read_csv('/content/drive/MyDrive/GoEmotions_Git/data/test.tsv', sep='\t', header=None, names=['Text', 'GE_indices', 'Id']).drop('Id', axis=1)

In [ ]:
# Preview of what data has been saved in the above variables
df_train[:10]

                                                Text GE_indices
0  My favourite food is anything I didn't have to...         27
1  Now if he does off himself, everyone will thin...         27
2                     WHY THE FUCK IS BAYLESS ISOING          2
3                        To make her feel threatened         14
4                             Dirty Southern Wankers          3
5  OmG pEyToN iSn'T gOoD eNoUgH tO hElP uS iN tHe...         26
6  Yes I heard abt the f bombs! That has to be wh...         15
7  We need more boards and to create a bit more s...       8,20
8  Damn youtube and outrage drama is super lucrat...          0
9  It might be linked to the trust factor of your...         27

In [ ]:
df_test

                                                   Text GE_indices
0     I’m really sorry about your situation :( Altho...         25
1       It's wonderful because it's awful. At not with.          0
2     Kings fan here, good luck to you guys! Will be...         13
3     I didn't know that, thank you for teaching me ...         15
4     They got bored from haunting earth for thousan...         27
...                                                 ...        ...
5422  Thanks. I was diagnosed with BP 1 after the ho...         15
5423                             Well that makes sense.          4
5424                                Daddy issues [NAME]         27
5425  So glad I discovered that subreddit a couple m...          0
5426  Had to watch "Elmo in Grouchland" one time too...         27

[5427 rows x 2 columns]

In [ ]:
df_val

                                                   Text GE_indices
0     Is this in New Orleans?? I really feel like th...         27
1     You know the answer man, you are programmed to...       4,27
2                  I've never been this sad in my life!         25
3     The economy is heavily controlled and subsidiz...       4,27
4     He could have easily taken a real camera from ...         20
...                                                 ...        ...
5421  It's pretty dangerous when the state decides w...         14
5422  I filed for divorce this morning. Hoping he mo...         20
5423  The last time it happened I just said, "No" an...         10
5424  I can’t stand this arrogant prick he’s no bett...          3
5425              ::but I like baby bangs:: /tiny voice         18

[5426 rows x 2 columns]

Finding out how much percentage of data is represented by each

In [ ]:
# Defining the number of samples in train, validation and test dataset
size_train = df_train.shape[0]
size_val = df_val.shape[0]
size_test = df_test.shape[0]

# Defining the total number of samples
size_all = size_train + size_val + size_test

In [ ]:
# Shape of train, validation and test datasets
print("Train dataset has {} samples and represents {:.2f}% of overall data".format(size_train, size_train/size_all*100))
print("Validation dataset has {} samples and represents {:.2f}% of overall data".format(size_val, size_val/size_all*100))
print("Test dataset has {} samples and represents {:.2f}% of overall data".format(size_test, size_test/size_all*100))
print()
print("The total number of samples is : {}".format(size_all))

Train dataset has 43410 samples and represents 80.00% of overall data
Validation dataset has 5426 samples and represents 10.00% of overall data
Test dataset has 5427 samples and represents 10.00% of overall data

The total number of samples is : 54263

Finding out number of emotions in the dataset

In [ ]:
#For datatype 
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43410 entries, 0 to 43409
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Text        43410 non-null  object
 1   GE_indices  43410 non-null  object
dtypes: object(2)
memory usage: 678.4+ KB

Now, emotions.txt has all the set of emotions that this dataset contains. 

Each emotion is mapped to a number as well, according to the sequence it is in, in the emotions.txt text file

In [ ]:
# Loading emotion labels for classification of emotions in GoEmotions dataset
with open("/content/drive/MyDrive/GoEmotions_Git/data/emotions.txt", "r") as file:
    GE_class = file.read().split("\n")

print(GE_class)

['admiration', 'amusement', 'anger', 'annoyance', 'approval', 'caring', 'confusion', 'curiosity', 'desire', 'disappointment', 'disapproval', 'disgust', 'embarrassment', 'excitement', 'fear', 'gratitude', 'grief', 'joy', 'love', 'nervousness', 'optimism', 'pride', 'realization', 'relief', 'remorse', 'sadness', 'surprise', 'neutral']

In [ ]:
print(len(GE_class))

28

Hence, there are 28 emotions, including 'neutral'

In [ ]:
#Counting the number of values under each emotion category
df_train.GE_indices.value_counts()

27           12823
0             2710
4             1873
15            1857
1             1652
             ...
6,15,22          1
9,10,19          1
7,10,25          1
7,9,24,25        1
0,1,18           1
Name: GE_indices, Length: 711, dtype: int64

###Lambda Functions

![image.png]()

They can have any number of arguments but only one expression.

Before we start to further process the data, we will first have to combine all the three datasets into one and then proceed further

In [ ]:
# Combining all the 3 datasets into 1 dataset
df_all = pd.concat([df_train, df_val, df_test], axis=0).reset_index(drop=True)

# Preview of data
display(df_all.head(3))

print(df_all.shape)

                                                Text GE_indices
0  My favourite food is anything I didn't have to...         27
1  Now if he does off himself, everyone will thin...         27
2                     WHY THE FUCK IS BAYLESS ISOING          2

(54263, 2)

Next, we will have to map each GE_indices to it's corresponding emotion in the emotions.txt file

For that, let's first convert these GE_indices into a list of indices which we will then map to the emotions.txt file and extract the emotion labels from the file

In [ ]:
# We will use a lambda function here to make things easier
#df_all['GE_indices'] = df_all['GE_indices'].apply(lambda x: x.split(','))

In [ ]:
# Viewing the data for results
print(df_all.head)

<bound method NDFrame.head of                                                     Text GE_indices
0      My favourite food is anything I didn't have to...         27
1      Now if he does off himself, everyone will thin...         27
2                         WHY THE FUCK IS BAYLESS ISOING          2
3                            To make her feel threatened         14
4                                 Dirty Southern Wankers          3
...                                                  ...        ...
54258  Thanks. I was diagnosed with BP 1 after the ho...         15
54259                             Well that makes sense.          4
54260                                Daddy issues [NAME]         27
54261  So glad I discovered that subreddit a couple m...          0
54262  Had to watch "Elmo in Grouchland" one time too...         27

[54263 rows x 2 columns]>

Next steps:
1. Determine which emotions we want 
2. Drop accordingly
3. Tokenization
4. Embedding
5. Vectorization
6. Models building

In [ ]:
df_all.isnull().sum()

Text          0
GE_indices    0
dtype: int64

In [ ]:
df_all

                                                    Text GE_indices
0      My favourite food is anything I didn't have to...         27
1      Now if he does off himself, everyone will thin...         27
2                         WHY THE FUCK IS BAYLESS ISOING          2
3                            To make her feel threatened         14
4                                 Dirty Southern Wankers          3
...                                                  ...        ...
54258  Thanks. I was diagnosed with BP 1 after the ho...         15
54259                             Well that makes sense.          4
54260                                Daddy issues [NAME]         27
54261  So glad I discovered that subreddit a couple m...          0
54262  Had to watch "Elmo in Grouchland" one time too...         27

[54263 rows x 2 columns]

Dropping the un required emotions

In [ ]:
j=['0','1','3','4','5','6','7','8','9','10','11','12','13','15','16','18','19','20','21','22','23','24','26','27']

In [ ]:
df_final2 = pd.DataFrame()
emotions_selected=['2','14','17','25']#

for i in range(2):
   df_final2=df_final2.append(df_all.loc[df_all['GE_indices'] == emotions_selected[i]])
   print(emotions_selected[i])
   
print (df_final2)

2
14
                                                    Text GE_indices
2                         WHY THE FUCK IS BAYLESS ISOING          2
17                                       Fucking coward.          2
25                 Stupidly stubborn / stubbornly stupid          2
30     Troll, bro. They know they're saying stupid sh...          2
116                                  The fuck is “mog?!”          2
...                                                  ...        ...
53704  I want to so bad it hurts. I guess I'm just sc...         14
53712              Help, I'm scared and want to go back.         14
53798      I was in awe the whole hour I spent in there.         14
53906                         So. This is scary as fuck.         14
53911  And that smilie she gave the fiancé when he sa...         14

[1818 rows x 2 columns]

In [ ]:
df_final2.GE_indices.value_counts()

2     1265
14     553
Name: GE_indices, dtype: int64

In [ ]:
X = df_final2.iloc[:, 0].values 
Y = df_final2.iloc[:, 1].values

In [ ]:
X

array(['WHY THE FUCK IS BAYLESS ISOING', 'Fucking coward.',
       'Stupidly stubborn / stubbornly stupid', ...,
       'I was in awe the whole hour I spent in there.',
       'So. This is scary as fuck.',
       'And that smilie she gave the fiancé when he sat down with the sandwich....I would be scared if I was him.'],
      dtype=object)

In [ ]:
Y

array(['2', '2', '2', ..., '14', '14', '14'], dtype=object)

In [ ]:
print(X.shape)
print(Y.shape)

(1818,)
(1818,)

###Split data  into training and validation sets

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
train_sentences, val_sentences, train_labels, val_labels= train_test_split(X,
                                                                           Y,
                                                                           test_size=0.1,#use 20%of training data for validation
                                                                           random_state=42)

In [ ]:
len(train_sentences),len(train_labels),len(val_sentences), len(val_labels)

(1636, 1636, 182, 182)

In [ ]:
#checking the samples
train_sentences[:10], train_labels[:10]

(array(["I'm too scared to start Black Mirror because it honestly seems like we might not be that far off from some of it.",
        "I'm just here to say fuck [NAME]",
        'Oh fuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuck RIGHT OFF!!!!!',
        'Horribly fake. People on that thread are stupid and gullible.',
        '“I’ll never have a playoff mandate” go fuck yourself [NAME]',
        '"If you don\'t support no go zones, you are racist!"',
        'Damn! You were so close! Scary. Damn damn!',
        "Damnit Morty! D'you see wha-rrrgh-t you've done!? We're fucked Morty, the squirrels - they're recruiting dolphins now Morty. ",
        'I’m tryin to make the community better and bring this to peoples attention he’s a filthy cheater',
        'That shit sent me on a fucking journey to read.'], dtype=object),
 array(['14', '2', '2', '2', '2', '2', '14', '2', '2', '2'], dtype=object))

##converting text to numbers 
When dealing with text we needd to convert it into numbers

there are a few ways to do this 
* Tokenisation- direct mapping of token(a token could be word or a character) to number 
* Embedding - create a matrix of feature vector for each token (size of the feature vector can be defined and this embedding can be learned)

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers.experimental.preprocessing import TextVectorization

In [ ]:
!pipinstall tensorflow===2.10.0

/bin/bash: pipinstall: command not found

In [ ]:
#using default textvectorization parameters
text_vectorizer = TextVectorization(max_tokens=None, # how many words in the vocabulary (all of the different words in your text)
                                    standardize="lower_and_strip_punctuation", # how to process text
                                    split="whitespace", # how to split tokens
                                    ngrams=None, # create groups of n-words?
                                    output_mode="int", # how to map tokens to numbers
                                    output_sequence_length=None) # how long should the output sequence of tokens be?
                                    # pad_to_max_tokens=True)9

In [ ]:
#find the average num of tokens in the training tweets
round(sum([len(i.split())for i in train_sentences ])/len(train_sentences))

12

In [ ]:
#setup text vectorization variables
max_vocab_length=10000 # max num of words to have in our vocabulary
max_length= 15 #max length our sequences will be (eg how many words from a tweet does a model need to see)\

text_vectorizer=TextVectorization(max_tokens=max_vocab_length,
                                  output_mode="int",
                                  output_sequence_length=max_length)

In [ ]:
#fit the text vecctorizer to the training text
text_vectorizer.adapt(train_sentences)

In [ ]:
sample_sentence="Wow we are finally implenting! aren't we great"
text_vectorizer([sample_sentence])

<tf.Tensor: shape=(1, 15), dtype=int64, numpy=
array([[ 271,   68,   17, 3018,    1, 1387,   68,  397,    0,    0,    0,
           0,    0,    0,    0]])>

In [ ]:
import random 
random_sentence=random.choice(train_sentences)
print(f"Original text; \n {random_sentence}\
        \n\n Vectorized version:")
text_vectorizer([random_sentence])

Original text;
 It's seriously terrifying!

 Vectorized version:

<tf.Tensor: shape=(1, 15), dtype=int64, numpy=
array([[ 31, 374, 114,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0]])>

In [ ]:
# Get the unique words in vocabulary
words_in_vocab= text_vectorizer.get_vocabulary()
top_5_words= words_in_vocab[:5]#get 5 most common
bottom_5_words= words_in_vocab[-5:]#get 5 least common
print(f"Number of words in vocab:{len(words_in_vocab)}")
print(f"5 most common words in vocab:{top_5_words}")
print(f"5 most least words in vocab:{bottom_5_words}")

Number of words in vocab:3894
5 most common words in vocab:['', '[UNK]', 'the', 'i', 'to']
5 most least words in vocab:['1544', '12', '110', '000001', '0']

##Creating embedding layer
using tensors flows embeding layer

In [ ]:
tf.random.set_seed(42)
from tensorflow.keras import layers

embedding = layers.Embedding(input_dim=max_vocab_length, # set input shape
                             output_dim=128, # set size of embedding vector
                             embeddings_initializer="uniform", # default, intialize randomly
                             input_length=max_length, # how long is each input
                             name="embedding_1") 

embedding

In [ ]:
# Get a random sentence from training set
random_sentence = random.choice(train_sentences)
print(f"Original text:\n{random_sentence}\
      \n\nEmbedded version:")

# Embed the random sentence (turn it into numerical representation)
sample_embed = embedding(text_vectorizer([random_sentence]))
sample_embed

Original text:
What a fucking cunt

Embedded version:

<tf.Tensor: shape=(1, 15, 128), dtype=float32, numpy=
array([[[ 0.0448054 , -0.01527903,  0.01050089, ..., -0.00633466,
         -0.02991489,  0.03590311],
        [-0.02057933,  0.02016742, -0.0420413 , ..., -0.01454222,
         -0.04487408,  0.02875707],
        [ 0.03224242, -0.01892673, -0.01147227, ..., -0.04037922,
         -0.02007686, -0.01924112],
        ...,
        [ 0.02513473,  0.02058618,  0.02851036, ..., -0.03568902,
         -0.02116853,  0.03417419],
        [ 0.02513473,  0.02058618,  0.02851036, ..., -0.03568902,
         -0.02116853,  0.03417419],
        [ 0.02513473,  0.02058618,  0.02851036, ..., -0.03568902,
         -0.02116853,  0.03417419]]], dtype=float32)>

In [ ]:
# Check out a single token's embedding
sample_embed[0][0], sample_embed[0][0].shape, random_sentence[0]

(<tf.Tensor: shape=(128,), dtype=float32, numpy=
 array([ 0.0448054 , -0.01527903,  0.01050089,  0.02390187, -0.02201997,
         0.04493973,  0.02496029, -0.02187477, -0.02750609, -0.043487  ,
         0.01763215, -0.02436404, -0.03524753, -0.02605917, -0.02729508,
         0.02104377,  0.04736134,  0.04515475, -0.01727227,  0.01507251,
         0.03535784, -0.03822851,  0.03264714,  0.01497247,  0.04675004,
         0.02661511,  0.01768956,  0.03763409, -0.01566624,  0.02142033,
         0.03983885,  0.03239734,  0.04113293, -0.00839673, -0.04009938,
        -0.0310861 , -0.01998698,  0.01996169,  0.00977927, -0.04006752,
         0.021828  , -0.00339561,  0.02623048,  0.01244136,  0.02853105,
         0.02868935, -0.0448369 ,  0.04372061,  0.00342617, -0.01962786,
         0.0154042 , -0.04088682,  0.04137473,  0.00599603, -0.03956407,
        -0.02430141,  0.0103771 , -0.00023901,  0.01570979, -0.01689883,
        -0.01981938,  0.0310279 , -0.04277269, -0.01925403,  0.04875319,
         0.01901046, -0.01178789,  0.03310062, -0.00087481, -0.02404215,
        -0.00223814,  0.04539374, -0.00217342, -0.04738579, -0.04199091,
         0.03563121,  0.01402796,  0.00267415,  0.00386174,  0.03012698,
         0.01611104,  0.0480351 ,  0.03725209,  0.02401178, -0.0216929 ,
        -0.02897379,  0.02580336, -0.04834435, -0.00988736,  0.04565518,
        -0.00022615,  0.03541061, -0.01353458,  0.01140745, -0.00467861,
         0.03291783,  0.0383343 ,  0.04435742,  0.03322388,  0.03313568,
         0.01738367,  0.0014495 , -0.03219961, -0.03826012, -0.03093715,
        -0.03273986,  0.02287844,  0.04905519,  0.01101321, -0.0279564 ,
         0.03412156, -0.04708241, -0.04420478,  0.04004917,  0.04523006,
        -0.02900312, -0.02066093,  0.00170662, -0.04853339,  0.01441523,
        -0.00686277,  0.01654707, -0.00257152, -0.03328581, -0.00666799,
        -0.00633466, -0.02991489,  0.03590311], dtype=float32)>,
 TensorShape([128]),
 'W')

###Modelling a text dataset (running a series of experiements )

##Model 0: Naive Bayes (baseline)
As with all machine learning modelling experiments, it's important to create a baseline model so you've got a benchmark for future experiments to build upon.

To create our baseline, we'll use Sklearn's Multinomial Naive Bayes using the TF-IDF formula to convert our words to numbers.

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer #will turn our text into numbers
from sklearn.naive_bayes import MultinomialNB 
from sklearn.pipeline import Pipeline #pipeline signifies doing all the operations in ordere

# Create tokenization and modelling pipeline
model_0 = Pipeline([
                    ("tfidf", TfidfVectorizer()), # convert words to numbers using tfidf
                    ("clf", MultinomialNB()) # model the text
])

# Fit the pipeline to the training data
model_0.fit(train_sentences, train_labels)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', MultinomialNB())])

In [ ]:
baseline_score = model_0.score(val_sentences, val_labels)
print(f"Our baseline model achieves an accuracy of: {baseline_score*100:.2f}%")

Our baseline model achieves an accuracy of: 79.12%

In [ ]:
baseline_preds = model_0.predict(val_sentences)
baseline_preds[:20]

array(['14', '2', '2', '2', '2', '14', '2', '2', '2', '2', '2', '2', '2',
       '2', '2', '2', '2', '2', '2', '2'], dtype='<U2')

In [ ]:
train_labels

array(['14', '2', '2', ..., '2', '14', '2'], dtype=object)

### Creating an evaluation function for our model experiments

We can evaluate all of our model's predictions with different metrics every single time, but that will become very cumbersome.

For this, we will create a function.

Let's create one to compare our model's predictions with the truth labels using the following metrics: accuracy, precision, recall, f1 score

In [ ]:
# Function to evaluate: accuracy, precision, recall, f1 score

from sklearn.metrics import accuracy_score, precision_recall_fscore_support

def calculate_results(y_true, y_pred):
  """
  Calculates model accuracy, precision, recall and f1 score of a binary classification model.

  Parameters:
  -----
  y_true = true labels in the form of a 1D array
  y_pred = predicted labels in the form of a 1D array

  Returns a dictionary of accuracy, precision, recall, f1-score.
  """
  # Calculate model accuracy
  model_accuracy = accuracy_score(y_true, y_pred) * 100
  # Calculate model precision, recall and f1 score using "weighted" average
  model_precision, model_recall, model_f1, _ = precision_recall_fscore_support(y_true, y_pred, average="weighted")
  model_results = {"accuracy": model_accuracy,
                  "precision": model_precision,
                  "recall": model_recall,
                  "f1": model_f1}
  return model_results
  # _ is used as an blank variable because we dont want 'support' which is a type of return in the function

In [ ]:
# Get baseline results
baseline_results = calculate_results(y_true=val_labels,
                                     y_pred=baseline_preds)
baseline_results

{'accuracy': 79.12087912087912,
 'precision': 0.8392940392940393,
 'recall': 0.7912087912087912,
 'f1': 0.7496968404502652}

In [ ]:
# Download helper functions script
!wget https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
#import series of helper functions 
from helper_functions import unzip_data, create_tensorboard_callback, plot_loss_curves, compare_historys

--2023-02-11 15:41:40--  https://raw.githubusercontent.com/mrdbourke/tensorflow-deep-learning/main/extras/helper_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10246 (10K) [text/plain]
Saving to: ‘helper_functions.py’

helper_functions.py 100%[===================>]  10.01K  --.-KB/s    in 0s

2023-02-11 15:41:40 (63.4 MB/s) - ‘helper_functions.py’ saved [10246/10246]

##Model 1: A simple dense model
The first "deep" model we're going to build is a single layer dense model. In fact, it's barely going to have a single layer.

It'll take our text and labels as input, tokenize the text, create an embedding, find the average of the embedding (using Global Average Pooling) and then pass the average through a fully connected layer with one output unit and a sigmoid activation function.

If the previous sentence sounds like a mouthful, it'll make sense when we code it out (remember, if in doubt, code it out).

And since we're going to be building a number of TensorFlow deep learning models, we'll import our create_tensorboard_callback() function from helper_functions.py to keep track of the results of each.

In [ ]:
from tensorflow.compat.v1 import ConfigProto
from tensorflow.compat.v1 import InteractiveSession

config = ConfigProto()
config.gpu_options.allow_growth = True
session = InteractiveSession(config=config)

In [ ]:
# Create tensorboard callback (need to create a new one for each model)
from helper_functions import create_tensorboard_callback

# Create directory to save TensorBoard logs
SAVE_DIR = "model_logs"

In [ ]:
# Build model with the Functional API
from tensorflow.keras import layers
inputs = layers.Input(shape=(1,), dtype="string") # inputs are 1-dimensional strings
x = text_vectorizer(inputs) # turn the input text into numbers
x = embedding(x) # create an embedding of the numerized numbers
x = layers.GlobalAveragePooling1D()(x) # lower the dimensionality of the embedding (try running the model without this layer and see what happens)
outputs = layers.Dense(1, activation="softmax")(x) # create the output layer, want binary outputs so use sigmoid activation
model_1 = tf.keras.Model(inputs, outputs, name="model_1_dense") # construct the model

In [ ]:
# Compile model
model_1.compile(loss="categorical_crossentropy",
                optimizer=tf.keras.optimizers.Adam(),
                metrics=["accuracy"])

In [ ]:
# Get a summary of the model
model_1.summary()

Model: "model_1_dense"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 1)]               0

 text_vectorization_1 (TextV  (None, 15)               0
 ectorization)

 embedding_1 (Embedding)     (None, 15, 128)           1280000

 global_average_pooling1d (G  (None, 128)              0
 lobalAveragePooling1D)

 dense (Dense)               (None, 1)                 129

=================================================================
Total params: 1,280,129
Trainable params: 1,280,129
Non-trainable params: 0
_________________________________________________________________

In [ ]:
 train_sentences_list = train_sentences.tolist()

In [ ]:
val_sentences_list = val_sentences.tolist()

In [ ]:
print(train_sentences.shape)

(1636,)

In [ ]:
type(train_labels)

numpy.ndarray

In [ ]:
print(train_labels.shape)

(1636,)

In [ ]:
train_labels1 = train_labels.astype(float)

In [ ]:
val_labels1 = val_labels.astype(float)

In [ ]:
train_labels

array(['14', '2', '2', ..., '2', '14', '2'], dtype=object)

In [ ]:
# Fit the model
model_1_history = model_1.fit(train_sentences, #input sentences can be a list of strings due to text preprocessing layer built-in model
                              train_labels1,
                              epochs=5,
                              validation_data=(val_sentences, val_labels1),
                              callbacks=[create_tensorboard_callback(dir_name=SAVE_DIR, 
                                                                     experiment_name="simple_dense_model")])

Saving TensorBoard log files to: model_logs/simple_dense_model/20230211-154141
Epoch 1/5
52/52 [==============================] - 2s 26ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 2/5
52/52 [==============================] - 1s 21ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 3/5
52/52 [==============================] - 1s 21ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 4/5
52/52 [==============================] - 1s 20ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00
Epoch 5/5
52/52 [==============================] - 1s 19ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00 - val_loss: 0.0000e+00 - val_accuracy: 0.0000e+00

In [ ]:
# Check the results on the validation set
model_1.evaluate(val_sentences, val_labels1)

6/6 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - accuracy: 0.0000e+00

[0.0, 0.0]

In [ ]:
embedding.weights

[<tf.Variable 'embedding_1/embeddings:0' shape=(10000, 128) dtype=float32, numpy=
 array([[ 0.3451689 , -0.2891782 ,  0.3614644 , ..., -0.38997927,
         -0.3371867 , -0.30672273],
        [-0.00476243, -0.00254028, -0.01590533, ...,  0.02518466,
          0.03686013, -0.01521902],
        [ 0.30889842, -0.3255168 ,  0.33505023, ..., -0.33322516,
         -0.3301851 , -0.27991506],
        ...,
        [ 0.03866503, -0.04716685, -0.02946227, ..., -0.02814209,
         -0.04764024, -0.01717379],
        [-0.010594  ,  0.01140048, -0.00057735, ..., -0.01617111,
          0.04892123,  0.01550495],
        [-0.03112229,  0.01568878,  0.0061388 , ...,  0.04396746,
         -0.01813353, -0.04255999]], dtype=float32)>]

In [ ]:
embed_weights = model_1.get_layer("embedding_1").get_weights()[0]
print(embed_weights.shape)

(10000, 128)